{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>EVENTS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">
		{%block content%}
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{%url 'index' %}">TheCatering</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{%url 'index' %}">Home</a></li>
							<li>
								<a href="#">Amenities</a>
								<ul>
									<li><a href="{%url 'packages' %}">Packages</a></li>
									<li><a href="{%url 'menu' %}">Platters</a></li>
									<li><a href="{%url 'supplies' %}">Supplies</a></li>
									<li>
										<a href="#">Bestseller</a>
										<ul>
											<li><a href="#">Breakfast</a></li>
											<li><a href="#">Lunch</a></li>
											<li><a href="#">Break-Time</a></li>
											<li><a href="#">Dinner</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="{%url 'events' %}">Events</a></li>
							<li><a href="{%url 'aboutus' %}">About us</a></li>
							<li><a href="{%url 'contactus' %}">Contact us</a></li>
							<li><a href="{%url 'signup'%}" class="button primary">Sign Up</a></li>
							<li><a href="{%url 'login'%}" class="button primary">Sign In</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>E V E N T S</h2>
							<p>From casual parties and get-togethers to corporate cocktail parties to boardroom lunches to lavish weddings, TheCatering Project team collaborates with you to deliver all your food and beverage needs. Catering from 20 to 2000+ guests. <br><br> TheCatering creates the food and drinks providing each event a unique personality and the spark that makes an event exciting and memorable for your brand, staff or clients.</p>
						</header>


						<!-- Image -->
							<section>
								<div class="box alt">
									<div class="row gtr-50 gtr-uniform">
										<div class="col-12"><span class="image fit"><img src="https://images.unsplash.com/photo-1519379169146-d4b170447caa?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGVzdGluYXRpb24lMjB3ZWRkaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1522413452208-996ff3f3e740?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1458642849426-cfb724f15ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDl8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1504113888839-1c8eb50233d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1544445930-53185e12bb79?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTc0fHxiaXJ0aGRheSUyMHBhcnR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1457460866886-40ef8d4b42a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTM0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1571091655789-405eb7a3a3a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mjg3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1586985290301-8db40143d525?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MzYzfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1562634382-d41bfc15aa4a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NDMyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1516685018646-549198525c1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTM2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1601409751311-cbecfe223af4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTg0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
										<div class="col-4 col-6-xsmall"><span class="image fit"><img src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGl6emF8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="" /></span></div>
									</div>
								</div>

								<h4>E V E N T S &emsp; &amp; &emsp; M A N A G E M E N T</h4>
								<p><span class="image left"><img src="https://images.unsplash.com/photo-1460978812857-470ed1c77af0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60" alt="" /></span>TheCatering is one of the finest in manufacturing food, staff management, distribution of work loads, handle our guests, serving food items, ice-creams and juice at the beginning of the event. We have the best team who gives their best efforts and we are highly organized team who are very good in macromanagement and micromanagement, or in short in any type of management. We also provide English talking waiters for your grand procession. We can also give our sincere suggestions regarding the food you want in your procession. Our team is highly knowledgable and skilled in this domain. </p>
								<p><span class="image right"><img src="https://images.unsplash.com/photo-1570900808791-d530855f79e3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODR8fGJpcnRoZGF5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="" /></span> From Weddings, Engagements, Receptions, Anniversaries, Baby-Showers, Birthday Parties, Surprise Birthday Parties, Bachelor Parties, Reunion, Private Dinners, Cocktail Parties, Janeu Procession, Corporate Catering, NGO and Food Donations Camps,  School Catering, Tiffin services, Funerals, and any other event you organize. We are ready to serve you breakfast, lunch, brunch, dinner in your event, as per your booking. <br> We also provide our services in different cities and states, provided the facilities of transport and travel at your expense, and we'll love to cater you in a whole diffent place. <br> We are also happy to help you to connect with different contractors, decorators, mandap-walas and designers.  </p>
							</section>

					</div>
				</div>		
				
				
			
					<div class="box alt"> 
					<div class="row gtr-uniform">
						<section class="col-4 col-6-medium col-12-xsmall">&emsp;&emsp;
							<span class="icon solid alt major fa-chart-area"></span>
							<h3>&emsp;&emsp;Weddings and Engagements</h3>
							<p>Allow us to make your special day even more so with our team's expertise in creating unforgettable food moments.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-comment"></span>
							<h3>Birthday Parties</h3>
							<p>From pastries for the kids to share platters for the adults, we can provide the ultimate birthday treat.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-flask"></span>
							<h3>Private dinners</h3>
							<p>Cooked on site at your venue, our private dinners are the ultimate in premium service.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">&emsp;&emsp;
							<span class="icon solid alt major fa-paper-plane"></span>
							<h3>&emsp;&emsp;Cocktail Parties</h3>
							<p>For 20 or 200, our expert team excel in creating a cocktail experience like none other.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-file"></span>
							<h3>Baby Showers</h3>
							<p>A dearly arranged and decorated event for your upcoming loved one.</p>
						</section>
						<section class="col-4 col-6-medium col-12-xsmall">
							<span class="icon solid alt major fa-ring"></span>
							<h3>NGO and Food Donations</h3>
							<p>We cater for the donator, delicious food for the needy ones.</p>
						</section>
					</div>
				</div>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
	{%endblock%}	
	</body>
</html>